@(tip:String)(keyword:String)

@main("Welcome to Play") {
    <!--<script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
    <script type="text/javascript">
        function copy() {
          $('#text1').val().execCommand("Copy");
            }
    </script>-->
    <ul id="Links"></ul>
    @if(keyword==null){

    }else {
        <label id="text1">@keyword</label>
    }

    <form method="POST" action="@routes.LinksController.addLinks()">
        <table>
            <tr>
                <td>
                     <label>OriginURL:</label>
                </td>
                <td>
                     <input type="text" name="url"/>
                </td>
            </tr>
            <tr>
                <td>
                     <label>If you want to DIY your short URL(can be empty):</label>
                </td>
                <td>
                     <input type="text" name="keyword"/>
                </td>
            </tr>

            @if(tip!=null){
                <tr>
                    <label>@tip</label>
                </tr>
            }
        </table>
        <button>Convert to unique short  URL</button>


    </form>



}
